<!DOCTYPE html>
{% load staticfiles %}
{% load cache %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>首页</title>

    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <style>
        body {
            overflow-x:hidden;
            padding-bottom:50px;
        }
        .warning_num {
            color:red;
        }
        div.col-md-2 {
          margin-top:80px
        }
        div.col-md-8 {
          margin-top:80px
        }
        .image-row {
        margin-top:10px
        }
    </style>

<body>
    <!--导航条-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" width="20px" height="20px" src="{% static 'images/Brand.png' %}">
            </a>
          </div>
            <!--实现跳转-->
          <a class="navbar-brand" href="/home/">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/managerperf/">个人表现</a></li>
            <li><a href="/overview/">总体表现</a></li>
            <li><a href="/share/">资源共享</a></li>
            <li><a href="/require/">新增需求</a></li>
            <li><a href="/plotly/">绘图实验室</a></li>
            <li><a href="#">当前在线:{{name}}</a></li>
            <li><a href="/login/">退出</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--主内容-->
    <div class="col-md-2"></div>
    <div class="col-md-8" id="row1">
         {% autoescape off %}
            {{ show_plotly }}
         {% endautoescape %}
    </div>
</body>
</html>
