<!DOCTYPE html>
{% load staticfiles %}
{% load cache %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>资源共享</title>

    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <style>
        body {
            overflow-x:hidden;
            padding-bottom:50px;
        }
        .warning_num {
            color:red;
        }
        div.col-md-6,div.col-md-2 {
          margin-top:80px;
        }
        .image-row {
        margin-top:10px
        }
    </style>

<body>
    <!--导航条-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" width="20px" height="20px" src="{% static 'images/Brand.png' %}">
            </a>
          </div>
            <!--实现跳转-->
          <a class="navbar-brand" href="/home/">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/managerperf/">个人表现</a></li>
            <li><a href="/overview/">总体表现</a></li>
            <li><a href="/share/">资源共享</a></li>
            <li><a href="/require/">新增需求</a></li>
            <li><a href="#">当前在线:{{name}}</a></li>
            <li><a href="/login/">退出</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--主内容-->
	<div class="container-fluid">
	<div class="row clearfix">
		<!--<div class="col-md-1 column"></div>-->
		<div class="col-md-12 column">
			{% if show_flag == "saler_show" %}
			<p align="left" style="font-size:18px;">&nbsp&nbsp&nbsp{{message}}</p>
			<ul class="nav nav-tabs">
				<li class="station">
					 <a href="/saler/homepage/station/">站点列表</a>
				</li>
				<li class="task">
					 <!--<a href="/saler/task/view/task/">任务列表</a>-->
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        任务列表
                        <b class="caret"></b>
                     </a>
                     <ul class="dropdown-menu" style="min-width:128px;background-color:#eee;">
                        <li><a href="/saler/task/view/task/">任务提交历史</a></li>
                        <li><a></a></li>
                        <li><a href="/saler/kw_task/">关键词提交</a></li>
                        <li><a></a></li>
					    <li><a href="/saler/kw_history/">关键词提交历史</a></li>
                        <li><a></a></li>
                     </ul>
				</li>
				<li class="hope">
					 <a href="/saler/hope/">广告交流</a>
				</li>
				<li class="active">
					 <a href="/saler/search/">广告搜索</a>
				</li>
				<li class="upload_files">
					 <a href="/saler/upload_files/manager/">上传文件</a>
				</li>
			</ul><br/>
			{% else %}
			<ul class="nav nav-tabs">
                 <li class="hope">
					 <a href="/analysis/sku/kw/">优质关键词搜索</a>
				</li>
				<li class="active">
					 <a href="/saler/search/">广告搜索</a>
				</li>
			</ul><br/>
			{% endif %}
			<div class="row clearfix">
				<div class="col-md-12 column">
					<form class="navbar-form" role="search" action="/saler/search/" method="post" style="text-align:center">
						{% csrf_token %}
						<div class="form-group">
							{% if search_content == "" %}
							<!--<input type="text" name="station" class="form-control" placeholder="请输入站点如DE" style="width:150px">-->
							<input type="text" name="any_input" class="form-control" placeholder="请输入SKU、ASIN或关键词进行搜索" style="width:700px">
							{% else %}
							<!--<input type="text" name="station" class="form-control"  value="{{search_station}}" style="width:150px">-->
							<input type="text" name="any_input" class="form-control" value="{{search_content}}" style="width:700px">
							{% endif %}
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
					<table class="table table-hover">
					<tr class="warning">
						<td align="center">序号</td>
						<td align="center">账号</td>
						<td align="center">站点</td>
						<td align="center">广告系列名</td>
						<td align="center">广告组名</td>
						<td align="center">广告组竞价</td>
						<td align="center">SKU</td>
						<td align="center">ASIN</td>
						<td align="center">关键词</td>
						<td align="center">关键词出价</td>
						<td align="center">广告类型</td>
						<td align="center">匹配方式</td>
						<td align="center">否定关键词</td>
						<td align="center">否定ASIN</td>
						<td align="center">定向ASIN</td>
						<td align="center">广告系列状态</td>
						<td align="center">广告组状态</td>
						<td align="center">广告状态</td>
						<!--<td align="center">状态变更时间</td>
						<td align="center">状态变更来源</td>
						<td align="center">状态变更原因</td>-->
						<td align="center">曝光</td>
						<td align="center">点击</td>
						<td align="center">花费</td>
						<td align="center">订单</td>
						<td align="center">销售额</td>
						<td align="center">ACoS</td>
						<td align="center">更新时间</td>
					</tr>

                     <tr class="danger">
						<td align="center"></td>
						<td align="center">总计</td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
                         {% if import_flag == 1 %}
						<td align="center" style="color:red">重点listing</td>
                         {% else %}
                         <td align="center"></td>
                         {% endif %}
						 {% if import_flag == 1 %}
					    <td align="center"><a onclick="showListing('{{show_total_sku}}', '{{show_total_account}}')" style="color:red">{{show_total_sku}}</a></td>
						 {% else %}
					    <td align="center">{{show_total_sku}}</td>
						 {% endif %}
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center">{{show_total_imp}}</td>
						<td align="center">{{show_total_cli}}</td>
						<td align="center">{{show_total_spend}}</td>
						<td align="center">{{show_total_order}}</td>
						<td align="center">{{show_total_sale}}</td>
						<td align="center">{{show_total_acos}}%</td>
						<td align="center"></td>
					</tr>

					<tbody>
					{% for id_zero,id,account,site,cam,ad_group,group_bid,sku,asin,kw,max_bid,cam_tar_type, match,deny_kw,deny_asin,target_asin,cam_status,group_status,ad_status,status_update_time,update_source,update_reason,update_time,imp,click,spend,order,sale,acos,site_web in search_result %}
						{% if id_zero == 0 %}
							<tr>
						{% else %}
							<tr class="success">
						{% endif %}
								<td align="center">{{id}}</td>
								<td align="center">{{account}}</td>
								<td align="center">{{site}}</td>
								<td align="center">{{cam}}</td>
								<td align="center">{{ad_group}}</td>
								<td align="center">{{group_bid}}</td>
								<td align="center"><a>{{sku}}</a></td>
								<td align="center"><a href="https://{{site_web}}/dp/{{asin}}/" target="_blank">{{asin}}</a></td>
								<td align="center">{{kw}}</td>
								<td align="center">{{max_bid}}</td>
								<td align="center">{{cam_tar_type}}</td>
								<td align="center">{{match}}</td>
								<td align="center">{{deny_kw}}</td>
								<td align="center">{{deny_asin}}</td>
								<td align="center">{{target_asin}}</td>
								<td align="center">{{cam_status}}</td>
								<td align="center">{{group_status}}</td>
								<td align="center">{{ad_status}}</td>
								<td align="center">{{imp}}</td>
								<td align="center">{{click}}</td>
                                <td align="center">{{spend}}</td>
                                <td align="center">{{order}}</td>
                                <td align="center">{{sale}}</td>
                                <td align="center">{{acos}}</td>
								<td align="center">{{update_time}}</td>
							</tr>
					{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		</div>
		<!--<div class="col-md-1 column"></div>-->
	</div>
</div>
</body>
</html>
